@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&family=Roboto:wght@300;400&family=Source+Code+Pro:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;
}

.App {
    width: 100vw;
    min-height: 100vh;
}