@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&family=Roboto:wght@300;400&family=Source+Code+Pro:wght@300&display=swap');
@import './colors/colors.scss';

$encode: 'Encode Sans', sans-serif;
$sourceCode: 'Source Code Pro', monospace;

html {
    scroll-behavior: smooth;
    ::-webkit-scrollbar {display: none;}
    -ms-overflow-style: none;   // IE and Edge
    scrollbar-width: none; // firefox
}

#root {
    overflow-x: hidden; 
    box-sizing: border-box;
    background-color: $Midnight_green;
}

h1, h2, h3, h4, p {
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    font-family: $sourceCode;

}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: $sourceCode;
}

.App {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: $Midnight_green;
    display: flex;
    flex-flow: column wrap;
}