@import './colors/colors.scss';

.header {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: $Midnight_green_flou;

    @media (min-width: 1400px) { 
        height: 80px;
    }
    
    .bg-menu {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: $Rich_black;
        transition: width 500ms cubic-bezier(.52,.29,.04,1.01);
    }    
    
    .container-logo { 
        margin: 0 0 0 5%; cursor: pointer;
        @media (min-width: 1400px) { 
            margin: 0 0 0 3%;
        } 
    }
    .container-menu { margin: 0 5% 0 0; cursor: pointer;}
}

.menu-in {width: 100% !important;}