@import "./colors/colors.scss";

.loading-container {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: $Rich_black;
    animation: 500ms 4s forwards loadingFadeOut;
    
    .hide-gif {
        background-color: $Rich_black;
        border-radius: 30%;
        position: absolute;
        width: clamp(120px, 15vw, 200px);
        height: clamp(120px, 15vw, 200px);
        animation:  500ms forwards ease-in-out unhideLogo;
    }
}

@keyframes unhideLogo {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
}