@import './colors/colors.scss';
@import './App.scss';

.all-sections {
    height: inherit;
    display: flex;
    flex-flow: column wrap;
    gap: 150px;
    align-items: center;
    overflow: hidden;

    .container-presentation {
        margin: 125px 0 25vh 0;
        height: auto;
        width: 80%;
        display: flex;
        flex-flow: column wrap;
        gap: 1em;
        align-items: flex-start;

        .titre-projet, .nom, .texte-presentation, .hello, .world {
            overflow-x: hidden;
            position: relative;
            width: fit-content;
        }

        .titre-projet {
            font-size: 20px;
            color: $Ash_grey;
        }

        .nom {
            color: $Air_force_blue;
            font-size: clamp(25px, 6vw, 40px);
        }

        .salutation-container {
            display: flex;
            flex-flow: row wrap;            
            margin: 5% 0 5% 0;

            .hello {
                color: $Ash_grey;
                font-size: 55px;
            }

            .world {
                color: $Ash_grey;
                font-size: 55px;
            }
        }

        .texte-presentation {
            font-size: clamp(16px, 5vw, 20px);
            opacity: 0;
            color: $Beige;
            animation: fadeIn 1s ease-in 4s 1 forwards;
        }

        .envoyer-courriel {
            opacity: 0;
            cursor: pointer;
            margin: 15% 0 0 0;
            align-self: center;
            border: 2px solid $Ash_grey;
            border-radius: 4px;
            padding: 5% 10%;
            transition: all .5s;
            animation: fadeIn 1s ease-in 6s forwards;

            &:hover, &:visited, &:link, &:active {
                text-decoration: none;
            }
            &:hover {background-color: $Air_force_blue;}
            
            .texte {
                color: $Beige;
                width: fit-content;
                font-size: 18px;
                font-family: $sourceCode;
            }
        }
    }
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}