@import './colors/colors.scss';

.all-sections {
    height: inherit;
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    .container-presentation {
        height: auto;
        width: 80%;
        display: flex;
        flex-flow: column wrap;
        gap: 10px;
        align-items: flex-start;

        .titre-projet, .nom, .texte-presentation {
            overflow-x: hidden;
            position: relative;
            width: auto;
        }

        .titre-projet {
            color: $Ash_grey;
        }
    
        .nom {
            color: $Air_force_blue;
        }
    
        .texte-presentation {
            opacity: 0;
            color: $Beige;
            animation: fadeIn 1s ease-in 4.5s 1 forwards;
        }
    }
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}