.container-projet {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    gap: 3em;
    width: 85%;
    @media (min-width: 769px) {
        gap: 14em;
    }
    #projets {
        height: 150px;
        position: absolute;
        width: 100%;
        height: 150px;
        transform: translateY(-100%);
    }
}