@import '../colors/colors.scss';

.boite-projet.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
    transform: translateY(0);
  }

.boite-projet {
    // position: absolute;
    width: 100%;
    height: auto;
    overflow: hidden;
    @media (min-width: 769px) { 
        overflow: visible;
        margin: 0 0 10% 0;
    }
    border-radius: 4px;
    opacity: 0;
    transform: translateY(50%);
    visibility: hidden;
    transition: opacity 1s ease, transform .5s ease;
    will-change: opacity, visibility;

    .espace {
        height: 30px;
    }

    .container-info {
        position: relative;
        z-index: 20;
        padding: 8% 0 3% 5%;

        @media screen and (min-width: 576px) {
            padding: 8% 0 8% 5%;
        }
        
        @media (min-width: 769px) { 
            position: relative;
            // transform: translate(0 , 55%);
            // padding: 2% 0 2% 5%;
            border-radius: 4px;
            width: 60%;
            height: auto;
         }

         @media (min-width: 1200px) { 
            // transform: translateY(60%);
        }

        @media (min-width: 1400px) {
            // transform: translateY(85%);
        }

        display: flex;
        flex-flow: column wrap;
        gap: 1.5em;
        background-color: $Air_force_blue_flou;
        width: 100%;
        height: auto;
        
        .titre {
            color: $Midnight_green_flou;
            font-size: clamp(1.5em, 7vw, 35px);
            @media (min-width: 769px) {
                text-align: right;
                padding: 0 5% 0 10%;
                font-size: clamp(25px, 3vw, 30px);
            }
            @media (min-width: 992px) {
                font-size: clamp(30px, 4vw, 40px);
            }
            
        }
        
        .desc {
            font-size: clamp(10px, 5vw, 20px);
            color: $Beige;
            @media (min-width: 769px) {
                text-align: start;
                padding: 0 5% 0 0;
                font-size: clamp(15px, 3vw, 20px);
            }
            @media (min-width: 992px) {
                font-size: clamp(20px, 3vw,25px);
            }
            
        }
        
        .logiciels {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            gap: 15px;
            @media (min-width: 769px) {
                justify-content: end;
                padding: 0 5% 0 0;
            }
            
            .sous-titre {
                font-size: clamp(1.17em, 6vw, 25px);
                color: $Midnight_green;
                width: 100%;
                @media (min-width: 769px) {
                    text-align: end;
                    font-size: clamp(20px, 3vw, 25px);
                }
                @media (min-width: 992px) {
                    font-size: clamp(25px, 3vw, 30px);
                }
            }

            .logo {
                margin: 0;
                padding: 0;
                width: 30px;
                height: 30px;

                @media screen and (min-width: 576px) {
                    width: clamp(30px, 4vw, 50px);
                    height: clamp(30px, 4vw, 50px);
                }
            }

        }
        .lien {
            display: flex;
            flex-flow: row wrap;
            gap: 15px;
            padding: 0 5% 0 0;
            justify-content: flex-end;

            @media (min-width: 769px) {
                position: absolute;
                top: 0;
                left: 0;
                padding: 3% 0 0 2%;
                // transform: translateY(25%);
            }

            .logo {
                cursor: pointer;
                width: clamp(30px, 4vw, 40px);
                height: clamp(30px, 4vw, 40px);

                svg {transition: all .5s;}

                &:hover svg {
                    fill: $Ash_grey;
                }
            }
        }
    }
    
    img {
        position: absolute;
        z-index: 19;
        bottom: 0;
        top: 0;
        height: 100%;
        width: 200%;
        transform: translateX(-25%);
    
        @media (min-width: 769px) {
            position: absolute;
            transform: translate(43%, 20%);
            height: auto;
            width: 70%;
            border-radius: 4px;
            // margin-bottom: 10%;
         }

         @media (min-width: 1400px) { 
            width: 60%;
            transform: translate(66%, 20%);
        }
    }
}

.trigger-anim-projet {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(-100%);
    opacity: 0;
    // align-self: flex-start;
    height: 50%;
    width: 100%;
    border: 2px solid black;
}