@import '../colors/colors.scss';

.boite-competence {
    border-radius: 4px;
    padding: 8% 0 8% 5%;
    width: 100%;
    background-color: $Air_force_blue;
    display: flex;
    flex-flow: column wrap;
    gap: 1.5em;
    
    @media screen and (min-width: 576px) and (max-width: 768px) {
        display: grid;
        grid-template-columns: 1fr;

        .container-ligne {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
    
    .boite-titre {
        font-size: clamp(1.5em, 8vw , 2.3em);
        color: $Midnight_green;
    }
}