@import "../colors/colors.scss";

/* ---------------------------------------------------------------
                    LOGO FROM THE HEADER
----------------------------------------------------------------*/

.header .container-logo {
    width: clamp(40px, 9vw, 50px);
    height: clamp(40px, 9vw, 50px);
    opacity: 0;
    // animation-play-state: paused ;
    animation: 1s forwards fadeIn ease-in;
    
    .logo { font-size: clamp(30px, 7vw, 40px);}
}
.header .not-hover {
    .top-bar { transform: translateX(0%); transition: transform .3s ease;}
    .bottom-bar { transform: translateX(0%); transition: transform .3s ease;}
    .left-bar { transform: translateY(0%); transition: transform .3s ease;}
    .right-bar { transform: translateY(0%); transition: transform .3s ease;}   
}
.header .is-hover {

    .right-bar {
        transform: translateY(60%);
        transition: color .2s, transform .3s ease;
        background-color: $Ash_grey;
    }
    
    .left-bar {
        background-color: $Ash_grey;
        transform: translateY(-60%);
        transition: color .2s, transform .3s ease;
    }
    
    .top-bar {
        background-color: $Ash_grey;
        transform: translateX(-60%);
        transition: color .2s, transform .3s ease;
    }
    
    .bottom-bar {
        background-color: $Ash_grey;
        transform: translateX(60%);
        transition: color .2s, transform .3s ease;
    }
}

.logo {
    font-size: clamp(80px, 12vw, 150px);
    color: $Ash_grey;
    transition: color 500ms;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1;}
}