@import '../colors/colors.scss';

.container-button {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    margin: 0 30px 0 0;
    position: relative;
    width: fit-content;
    height: 50px;
    padding: 0 0 10px 0;
    overflow: hidden;

    @media (min-width: 769px) {
        .anim-bar-2 { display: none;}
        
        &:hover > .anim-bar {
            transform: translateX(0%);
        }
     }

    .anim-bar {
        position: absolute;
        transform: translateX(0%);
        @media (min-width: 769px) { 
            transform: translateX(-103%);
            border-bottom-color: $Ash_grey;
            height: 80%;
        }
        width: 100%;
        height: 100%;
        border-bottom: 5px solid $Midnight_green;
        transition: all 500ms;
    }
    .anim-bar-2 {
        position: absolute;
        top: 0;
        transform: translateY(70%);
        width: 100%;
        height: 100%;
        border-left: 5px solid $Midnight_green;
        border-right: 5px solid $Midnight_green;
    }
    
    .text-placeholder {
        padding: 0 10px 0 10px;
        @media (min-width: 769px) {
            padding: 0 8px 0 0;
        }
        font-family: 'Source Code Pro', monospace;
        align-self: center;
        color: white;
        font-size: clamp(1.5em, 7vw , 35px);
        color: $Air_force_blue;

    }
}