@import '../colors/colors.scss';

.container-titre.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
    transform: translateY(0);
}

.container-titre {
    width: 100%;
    opacity: 0;
    transform: translateY(50%);
    visibility: hidden;
    transition: opacity 1s ease, transform 1s ease;
    will-change: opacity, visibility;

    .titre-section {
        font-size: clamp(1.5em, 7vw , 2.3em);
        font-weight: bold;
        color: $Ash_grey;
        display: flex;
        white-space: nowrap;
        align-items: center;
        
        &::after {
            display: block;
            content: "";
            height: 1px;
            width: 100%;
            background-color: $Air_force_blue;
            margin: 1% 0 0 10px;
        }
    }

    .ligne-horizontale {
        align-self: center;
        background-color: $Air_force_blue;
        height: 1px;
        width: 100%;
    }
}

.trigger-anim-titre {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(0%);
    opacity: 0;
    // align-self: flex-start;
    height: 50%;
    width: 100%;
    border: 2px solid black;
}