@import '../colors/colors.scss';

.container-titre {
    width: 100%;
    
    .titre-section {
        font-size: clamp(1.5em, 7vw , 2.3em);
        font-weight: bold;
        color: $Ash_grey;
        display: flex;
        white-space: nowrap;
        align-items: center;
        
        &::after {
            display: block;
            content: "";
            height: 1px;
            width: 100%;
            background-color: $Air_force_blue;
            margin: 0 0 0 10px;
        }
    }

    .ligne-horizontale {
        align-self: center;
        background-color: $Air_force_blue;
        height: 1px;
        width: 100%;
    }
}